{% extends "layouts/base.html"%}
<!--title-->
{% block title %}
    User | Profile

{% endblock %}

<!--Custom Css-->
{% block custom_css %}
<style>
    body{
        background-color: black ;
        color: white;
    }
</style>
{% endblock%}

<!-- body content-->
{% block body_content %}
<div class=" container-lg" >
    <div class="card-lg">
        <div class = "card-header">
            <h3>User Profile </h3>
        </div>
        <div class = "card-body">
            <h3>{{db_data.first_name}} {{db_data.middle_name}} {{db_data.last_name}}</h3>
            <h5> {{db_data.email}}</h5>
            <h5> {{db_data.contact}} </h5>
        </div>
        <div class="card-footer">
            <!-- url_edit is the name of url-->
            <a href= "{% url 'user_edit' db_data.id %}"> Edit </a>
        </div>
    </div>
</div>
{% endblock %}

<!--custom_js-->
{% block custom_js %}

{% endblock %}